.tabs-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  background-color: rgba(215, 217, 217, 0.3);
  margin: 0 auto;
  border-radius: 10px;
  width: 20rem;
  height: 4rem;
}

.icon-app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 2.6rem;
  height: 2.6rem;
  transition: 0.5s;
}

.icon-app i {
  font-size: 1.4rem;
  text-align: center;
  color: #404040;
}

.icon-app:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-10px);
}
