.calendar-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
  visibility: hidden;
  transform: scale(0.9);
  transition: all 0.5s ease-out;
}

.calendar-container.visible {
  visibility: visible;
  transform: scale(1);
}

.calendar-content {
  width: 12.5rem;
  min-height: 15rem;
  border-radius: 10px;
  background-color: #ffffff4d;
  backdrop-filter: blur(50px);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.calendar-header:hover {
  cursor: pointer;
}

.calendar-task-item {
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.3rem;
  width: 80%;
  font-size: 0.9rem;
  cursor: pointer;
  height: auto;
}

.calendar-input-task input {
  border: none;
  border-radius: 10px;
  margin: 0 1rem;
  padding: 0.3rem;
  width: 80%;
  font-size: 0.9rem;
  outline: none;
}

.drag-handle {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  z-index: 1;
  color: #fff;
}

.drag-handle i {
  color: #fff;
  cursor: all-scroll;
}

.calendar-header h3 {
  font-size: 1.5rem;
  cursor: default;
}

.add-icon {
  margin: 1rem 1rem;
}

h3,
p {
  color: #fff;
}

p:hover {
  cursor: pointer;
}
