.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 27rem;
  height: 20rem;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: #000c;
  backdrop-filter: blur(50px);
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.timer-container.visible {
  visibility: visible;
  transform: translateY(0);
}

.timer-options {
  display: flex;
  gap: 1rem;
  text-align: center;
  margin: 1.5rem 0 1rem;
}

.timer-options button {
  color: #fff;
  background-color: #3e3f43;
  padding: 0.7rem;
  border-radius: 6px;
  border: none;
}

.timer-options #button-focus {
  background-color: #cb202d;
}

#button-focus:hover {
  background-color: #a11924;
  cursor: pointer;
}

#button-break:hover {
  background-color: #5d5d5e;
  cursor: pointer;
}

.timer-content h3 {
  font-size: 5rem;
}

.timer-content p {
  margin: 0.5rem;
}

.timer-content input {
  color: #fff;
  background-color: #3e3f43;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.timer-start button {
  color: #000;
  background-color: #fff;
  margin: 0.5rem;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  border: none;
}

.timer-start button:hover {
  cursor: pointer;
  background-color: #bebebe;
}
